# NYU PUI - HOMEWORK 4 - Part 2 Citibikes

Submitted by Zoe Martiniak (zem232)

## Citi Bikes IDEA: 
#### Younger people are more likely to use Citi Bike in the evenings.

## NULL HYPOTHESIS:
#### The daily proportion of young people (the younger half of the population) is the same or higher than the proportion of the older people (the older half of the population) biking in the evenings (after 7 pm).

# _$H_0$_ : $\frac{Y_{\mathrm{evening}}}{Y_{\mathrm{total}}} - \frac{O_{\mathrm{evening}}}{O_{\mathrm{total}}}>= 0 $
# _$H_1$_ : $\frac{Y_{\mathrm{evening}}}{Y_{\mathrm{total}}} - \frac{O_{\mathrm{evening}}}{O_{\mathrm{total}}} < 0$


#### I will use a significance level  $\alpha=0.05$

#### By calculating the daily proportion for a single month, I will obtain ~30 trials to test. Therefore, a t-test will suffice.

In [1]:
from __future__ import print_function
__author__ = "Zoe Martiniak, CUSP NYU 2018"
import numpy as np
import pandas as pd
import matplotlib
font = {'family' : 'normal',
        'weight' : 'bold',
        'size'   : 88}

matplotlib.rc('font', **font)
import matplotlib.pyplot as plt
import seaborn as sns
import os
%matplotlib inline
np.random.seed(999)
import warnings
warnings.filterwarnings(action='once')
import os
import re
from datetime import datetime
from copy import deepcopy
from pprint import pprint

In [ ]:
# !pip install tqdm

In [ ]:
# import time
# from tqdm import *

In [2]:
def getCitiBikeCSV(datestring):
    print("Downloading",datestring)
    if not os.path.isfile(os.getenv("PUIDATA") + "/" + datestring + "-citibike-tripdata.zip"):
        if not os.path.isfile(datestring + "-citibike-tripdata.zip"):
            os.system("curl -O https://s3.amazonaws.com/tripdata/" + datestring + "-citibike-tripdata.zip")
        ##  Unzip the folder
        os.system("unzip " + datestring + "-citibike-tripdata.zip")
    ## Move to PUIdata
    os.system("mv " + datestring + "-citibike-tripdata.csv " + os.getenv("PUIDATA"))
    ## Delete zip in directory
    os.system("rm "+ datestring + "-citibike-tripdata.zip")
    ## NOTE: old csv citibike data had a different name structure... and we don't want older data anyway.
    if '2014' in datestring:
        print("Please use a more recent dataset.")
    ### One final check:
    if not os.path.isfile(os.getenv("PUIDATA") + "/" + datestring + "-citibike-tripdata.csv"):
        print ("UH OH! There seems to be something wrong: the file is not there!")
    else:
        print('File is in place, please continue.')

In [3]:
datestring = '201609'
getCitiBikeCSV(datestring)

Downloading 201609
File is in place, please continue.

In [31]:
cb_df = pd.read_csv(os.getenv("PUIDATA") + "/" + datestring + '-citibike-tripdata.csv')

In [32]:
## adding age column
cb_df['age']= 2016-cb_df['birth year']
## cleaning datafile
cb_df.drop(['stoptime', 'start station id', 'start station name', 'start station latitude',
        'start station longitude', 'end station id', 'end station name',
        'end station latitude', 'end station longitude', 'bikeid', 'usertype', 
        'birth year','gender'], axis=1, inplace=True)
cb_df.age.dropna(axis=0,inplace=True)
cb_df['starttime'].dropna(axis=0,inplace=True)

In [33]:
# chopping up data
cb_df = cb_df[::400]
cb_df.describe()

        tripduration          age
count    4123.000000  3593.000000
mean     1041.044143    37.932925
std      6395.784142    11.702046
min        63.000000    16.000000
25%       403.500000    29.000000
50%       696.000000    35.000000
75%      1184.500000    46.000000
max    395651.000000    76.000000

In [34]:
# for i in tqdm(cb_df.index):
#    cb_df['date'][i]=pd.to_datetime(cb_df['starttime'][i])

In [35]:
## adding date and time column
cb_df['date'] = pd.to_datetime(cb_df['starttime'])
cb_df.drop(['starttime'],axis=1,inplace=True)
cb_df['after_7pm'] = cb_df['date'].apply(lambda dt: dt.hour >= 19)
cb_df.head(7)

      tripduration   age                date  after_7pm
0              975  31.0 2016-09-01 00:00:02      False
400            345  27.0 2016-09-01 00:46:13      False
800            866  58.0 2016-09-01 04:42:47      False
1200           564  27.0 2016-09-01 06:10:25      False
1600           371  31.0 2016-09-01 06:39:29      False
2000           373  54.0 2016-09-01 07:00:11      False
2400           237  32.0 2016-09-01 07:20:22      False

In [36]:
am = cb_df['age'].mean()
age_y=cb_df[cb_df.age < am]
age_o=cb_df[cb_df.age > am]

In [37]:
am = cb_df['age'].mean()
# get ix
age_y = cb_df['age']<am
age_o = cb_df['age']>am
# make boolean flag series'
night = cb_df['date'].apply(lambda dt: dt.hour >= 19)
day = cb_df['date'].apply(lambda dt: dt.hour < 19)

# group by date and then count rows to get trip counts
# total "young people" rides = age_y
_tot_y = cb_df[age_y].groupby(cb_df[age_y]['date'].map(lambda x: x.date())).count()
# total "old people" rides = age_o
_tot_o = cb_df[age_o].groupby(cb_df[age_o]['date'].map(lambda x: x.date())).count()
# isolating young people starting trips after 7pm = age_y & night
_y_7pm_a = cb_df[age_y & night].groupby(cb_df[age_y & night]['date'].map(lambda x: x.date())).count()
# isolating old people starting trips after 7pm = age_o & night
_o_7pm_a = cb_df[age_o & day].groupby(cb_df[age_o & day]['date'].map(lambda x: x.date())).count()

In [45]:
# using _df_cnts, merge the dataframe one by one
_df_cnts = pd.DataFrame(index=_tot_y.index)
_columns = _tot_y.columns


for df in ['_tot_y', '_tot_o', '_y_7pm_a', '_o_7pm_a']:
    _df_cnts = _df_cnts.merge(
        globals()[df] # get dataframe from global frame
        , how='inner'
        , left_index=True
        , right_index=True
        , sort=True
        , suffixes=['', df]
    )
    _df_cnts.drop(
        columns=[c for c in _df_cnts.columns if not c.startswith('after_7pm') or c.startswith('cnt')]
        , inplace=True
    )
    _df_cnts.rename(
        columns = {
            'after_7pm_%s' % df: 'cnt_%s' % df 
        }
        , inplace=True
    )

_df_cnts.rename(
        columns = {
            'after_7pm': 'total_young'
            , 'after_7pm_tot_o': 'total_old'
            , 'after_7pm_y_7pm_a': 'total_young_after_7pm'
            , 'after_7pm_o_7pm_a': 'total_old_after_7pm'
        }
        , inplace=True
    )
_df_cnts.head(5)

            total_young  total_old  total_young_after_7pm  total_old_after_7pm
date
2016-09-01           55         32                     15                   25
2016-09-02           76         40                      9                   34
2016-09-03           49         23                     11                   20
2016-09-04           54         25                     14                   22
2016-09-05           56         25                     11                   19

In [46]:
_df_cnts['young_proportion'] = _df_cnts['total_young_after_7pm'] / _df_cnts['total_young']
_df_cnts['old_proportion'] = _df_cnts['total_old_after_7pm'] / _df_cnts['total_old']

In [47]:
_columns_i_want = ['young_proportion', 'old_proportion']
_df_cnts.drop(columns=[c for c in _df_cnts.columns if c not in _columns_i_want], inplace=True)
_df_cnts.head()

            young_proportion  old_proportion
date
2016-09-01          0.272727        0.781250
2016-09-02          0.118421        0.850000
2016-09-03          0.224490        0.869565
2016-09-04          0.259259        0.880000
2016-09-05          0.196429        0.760000

#### Testing Hypothesis: The *daily* proportion of young people (the younger half of the population) is the same or higher than the proportion of the older people (the older half of the population) biking in the evenings (after 7 pm).

# _$H_0$_ : $\frac{Y_{\mathrm{evening}}}{Y_{\mathrm{total}}} - \frac{O_{\mathrm{evening}}}{O_{\mathrm{total}}}<= 0 $
# _$H_1$_ : $\frac{Y_{\mathrm{evening}}}{Y_{\mathrm{total}}} - \frac{O_{\mathrm{evening}}}{O_{\mathrm{total}}} > 0$

#### My test will be conducted with **95% significance level**
Since we have only 30 samples, I will be performing a one-taied t-test for the difference between means of two samples:

In [48]:
my=_df_cnts['young_proportion'].mean()
mo=_df_cnts['old_proportion'].mean()
sy=_df_cnts['young_proportion'].std()
so=_df_cnts['young_proportion'].std()
n=_df_cnts['young_proportion'].count()
# caclculate t-statistic
t=(my-mo)/((((sy**2)/n)+((so**2)/n))**0.5)
t

-58.34540452423356

In [50]:
cv=6.314
if t>cv:
    print('The test statistic %s is greater than the critical value %s, therefore we reject the null hypothesis'%(t,cv))
else:
    print('The test statistic %s is less than the critical value %s, so we failed to reject the null hypothesis'%(t,cv))

The test statistic -58.34540452423356 is less than the critical value 6.314, so we failed to reject the null hypothesis